Source: sp-error-visualizer
Section: devel
Priority: optional
Maintainer: Eero Tamminen <eero.tamminen@nokia.com>
Build-Depends: debhelper (>= 5), libdbus-glib-1-dev, pkg-config
Standards-Version: 3.9.2

Package: sp-error-visualizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Displays errors (or anything from stdin) as banners
 This small tool displays any messages from stdin graphically
 (currently as banners). It's mainly intended to display errors
 from syslog to make them more visible to testers. If syslog
 is not present, it can also read directly the socket into which
 syslog clients write.
